*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image:url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000)
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: grey;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li a:hover{
 color: blueviolet;
}
   
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: grey;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}